<st #st [data]="data" [columns]="columns" [loading]="loading" [scroll]="{ x: '3000px' }" [body]="accountBody">
    <ng-template #accountBody>
        <tr>
            <!-- <td></td>
            <td class="text-left">
                <strong>Total</strong>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="text-left">
                <strong>$12,972.67</strong>
            </td> -->
        </tr>
    </ng-template>
</st>